body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.search-bar{
  width: 400px;
  margin: auto;
  padding-bottom: 10px;
}

.form-search {
  border-bottom: 1px solid blue;
}

.modal {
  margin: auto;
  width:60%;
  height:60%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}